* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.left-item {
    padding-top: 15px;
}
.left-item .apod {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.left-item button:active, .left-item button:focus {
    background: linear-gradient(150deg, #3A1C71, #D76D77, #FFAF7B);
    color: #fff;
}
.banner .right .apod-context {
    display: none;
}
.banner .right .top {
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}
.banner .right .heading {
    padding-top: 20px;
    font-size: 75px;
    color: #232323;
}
.banner .right .heading span:not(.date) {
    font-style: italic;
    color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(to right, #FEAC5E, #C779D0, #4BC0C8);
}
.banner .right .about-apod {
    padding: 10px 30px 20px 30px;
    line-height: 1.9em;
    max-width: 1500px;
    letter-spacing: 0.4px;
    color: #444444;
}
.right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.nasa-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.nasa-content h3 {
    padding: 20px 20px 10px 20px;
    font-size: 73px;
    width: 100%;
}
.nasa-content h3 .date {
    font-size: 19px;
    color: #4b4b4b;
}
.nasa-content p {
    padding: 10px 20px 140px 10px;
    font-size: 20px;
    line-height: 1.6em;
}
.nasa-content .grid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.nasa-content .grid-container .card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    margin: 30px auto;
    border-bottom: 1px solid #ddd;
}
.nasa-content .grid-container .img-wrapper {
    width: 40%;
    height: 800px;
}
.nasa-content .grid-container .img-content {
    width: 60%;
    padding-left: 20px;
}
.nasa-content .grid-container .img-content h4 {
    font-size: 38px;
}
.nasa-content .grid-container .img-content .date {
    color: #767676;
    font-size: 17px;
}
.nasa-content .grid-container .img-content .desc {
    max-width: 900px;
    letter-spacing: 0.4px;
    line-height: 1.66em;
}
.nasa-content .load {
    text-decoration: none;
    background: linear-gradient(150deg, #3A1C71, #D76D77, #FFAF7B);
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 16px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.4);
    margin-bottom: 40px;
}
.nasa-content .load:hover {
    opacity: 0.8;
}

